@using Web_Application.Config
<link rel="stylesheet" href="/css/Other.css">
@{
    ViewData["Title"] = "МММ - банкинг.";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Add your custom CSS styles here -->
    <style>
        body {
            background-color: #f8f9fa; /* Bootstrap default background color */
        }

        .logo {
            max-width: 200px; /* Adjust the size as needed */
            margin-bottom: 20px;
            border-radius: 50%; /* Make the logo round */
            overflow: hidden;
        }

        .main-content {
            text-align: center;
            margin-top: 50px;
        }

        .welcome-text {
            font-size: 24px;
            margin-top: 20px;
        }
    </style>
</head>
<body>

<main role="main" class="pb-3">
    <div class="main-content">
        <img src="/src/MMM1.jpg" alt="Bank Logo" class="logo">
        <h1 class="display-4">Добро пожаловать в самый прибыльный банк России - МММ!</h1>
        <p class="lead welcome-text">Управляйте своими финансами безопасно и удобно с нашими услугами интернет-банкинга. Вы можете взять кредит всего с 10 процентной ставкой!</p>
    </div>
</main>

<!-- Bootstrap JS and other scripts here -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UoUx2ckb3WAt8z1U2I5DUOZrI5c6pOG+K0WPCzIf1aDSu7yy3nMI1eA7JN49pfL4" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgydA1p0hTz5OgF0Gw/G+QvZlI/1aF00F5PpUoyAA1bokRe8+uOqFQBuFvR" crossorigin="anonymous"></script>

</body>
</html>
